<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <form action="<%=operacion.id%>?_method=PUT" method="POST">

       
        <input value=<%=operacion.consepto%> name="consepto" type="text" placeholder="consepto" class="pass"><br><br>
        <input value=<%=operacion.monto%> name="monto" type="number" placeholder="monto" class="titulo"><br><br>
        <input value=<%=operacion.fecha%> name="fecha" type="date" placeholder="fecha" >



        

 </select>


    
<input type="submit">
<a href=""><input type="button" value="editar"></a>

    </form>
</body>
</html>