/*set the body font and padding*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }
/*configure the color of the hyperlinks a*/
a {
  color: #536870;
}
/*config the container div formulario2  */
.formulario2{
 /*float to the right*/
  float:right;
/*make container as block*/
display:block;
/*give a width of 60% of the total screen to the container*/
width:60%;
/*give a height of 100% of the total screen to the container*/
height:100%;
  
}
.formulario1{
/*float to the left*/
  float:left;
/*make container as block*/
display:block;
/*give a width of 40% of the total screen to the container*/
width:40%;
/*give a height of 100% of the total screen to the container*/
height:100%;
}
/*config font h2*/
h2{
  font-size: 15px;
}
/*config movile*/
@media(max-width:420px){
 
  .formulario2{
   /*desactivate float*/
    float:none;
  /*give a width of 100% of the total screen to the container*/
 width:100%;
 
    
  }
  .formulario1{
    /*desactivate float*/
    float:none;
   /*give a width of 100% of the total screen to the container*/
  width:100%;
  }
}